.busy-signal {
  position: relative;
  width: 16px;
  height: 100%;

  &.idle,
  &.busy {
    &::before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      top: 50%;
      left: 50%;
      margin-top: -3px;
      margin-left: -3px;
      border-radius: 50%;

      transition: background 0.5s linear;
    }
  }

  &.idle {
    &::before {
      background: var(--text-color-success);
    }
  }

  &.busy {
    &::before {
      background-color: var(--text-color-warning);
      animation: busy-signal-bounce 1s infinite ease-in-out;
    }
  }
}

@keyframes busy-signal-bounce {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.6);
  }
}
